<html>
    <head>
        <title>Blog Milenianaou / Dianilena</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog da Titia</a></h1>
        </div>

        {% for post in posts %}
           <div>
               <p>published: {{ post.published_date }}</p>
               <h2><a href="">{{ post.title }}</a></h2>
               <p>{{ post.text|linebreaksbr }}</p>
           </div>
{% endfor %}

	<em>Vamos ser enfático</em> 
	<strong>A vida é bela</strong>
	<br>
        <a href="https://djangogirls.org">link</a>
	<ul><li>primeiro item</li><li>segundo item</li></ul>
	<div></div>
    </body>
</html>
