<html>
    <head>
        <title>Blog Milenianaou / Dianilena</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog da Titia</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Vamos almoçar???? Bjs amo todos!!</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Tchau! Minha me chama para almoçar.....S2.....</p>
        </div>

	<em>Vamos ser enfático</em> 
	<strong>A vida é bela</strong>
	<br>
        <a href="https://djangogirls.org">link</a>
	<ul><li>primeiro item</li><li>segundo item</li></ul>
	<div></div>
    </body>
</html>
